@use "../layout/breakpoint" as *;

/*!
header > hamburger

------------------------------
*/

.hamburger {
  display: none;
  color: var(--main-color);
  @include mq(xs) {
    display: block;
    text-align: center;
    height: 22px;
  }
}

.hamburger__dots {
  display: flex;
  width: 29px;
  justify-content: space-between;
  margin-bottom: 4px;
}

.hamburger__dot {
  width: 4px;
  height: 4px;
  background-color: var(--main-color);
}

.hamburger__text {
  font-size: 10px;
  margin-top: 4px;
}
