@use "../layout/breakpoint" as *;

/*!
header > logo

------------------------------
*/

.logo {
  display: block;
  z-index: 10;
}

.logo__image {
  width: 100%;
  max-width: 48px;
  @include mq(xs) {
    position: fixed;
  }
  @include mq(md) {
    max-width: 32px;
  }
}
