@use "../layout/breakpoint" as *;

/*!
flow > flow

------------------------------
*/

.flow {
  margin-top: 144px;
  @include mq(md) {
    margin-top: 64px;
  }
}

.flow__card .card__item:last-child {
  border-left: 1px solid var(--accent-color);
  @include mq(md) {
    min-height: initial;
  }
}

.flow__card .card__item {
  min-height: 315px;
  @include mq(md) {
    min-height: 230px;
  }
}

.flow__card .card__title {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--sub-color);
  padding-top: 4px;
  padding-bottom: 4px;
  @include mq(md) {
    padding-top: 0;
    padding-bottom: 0;
    height: 29px;
  }
}

.flow__card .card__title-main {
  background-color: var(--accent-color);
  padding-left: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  @include mq(md) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.flow__card .card__title::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  border-top: 1px dotted #fff;
  margin-right: -16px;
  position: relative;
  z-index: 10;
  @include mq(md) {
    display: none;
  }
}

.flow__card .card__title-main::after {
  display: none;
}

.flow__card .card__contents {
  overflow: visible;
}

.flow__title::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  width: 24px;
  height: 1px;
  border-top: 1px dotted var(--main-color);
}

.flow__title span::before {
  content: "";
  position: absolute;
  left: 24px;
  top: 50%;
  width: 4px;
  height: 9px;
  background-color: var(--main-color);
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  transform: translateY(-50%);
}

.flow__card .flow-arrow {
  position: relative;
  padding-left: 0;
}

.flow-arrow::before,
.flow-arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  width: 6px;
  height: 1px;
  background-color: var(--main-color);
  @include mq(md) {
    display: none;
  }
}

.flow-arrow::before {
  transform: translateY(-50%) rotate(-45deg);
  transform-origin: right;
}

.flow-arrow::after {
  transform: translateY(-50%) rotate(45deg);
  transform-origin: right;
}

.flow__card .card__title-main span {
  background-color: var(--accent-color);
}

.dotted-line-arrow {
  position: relative;
  width: 1px;
  border-left: 1px dotted #000;
  margin-bottom: 24px;
  margin-top: 16px;
}

.card__description-wrap {
  @include mq(md) {
    display: flex;
    padding-left: 15px;
    padding-right: 20px;
  }
}

.flow__card .card__item:last-child .card__description-wrap {
  padding-left: 0;
}

.dotted-line-arrow::before,
.dotted-line-arrow::after {
  @include mq(md) {
    content: "";
    position: absolute;
    bottom: -8px;
    left: -6px;
    width: 6px;
    height: 1px;
    background-color: var(--sub-color);
  }
}

.dotted-line-arrow::before {
  transform: translateY(-50%) rotate(45deg);
  transform-origin: right;
}

.dotted-line-arrow::after {
  transform: translateY(-50%) rotate(130deg);
  transform-origin: right;
}

.flow__card .card__description {
  @include mq(md) {
    padding-right: 0;
    padding-bottom: 32px;
  }
}

.flow__card .card__title span {
  margin-bottom: 0;
}

.flow__card .card__title span + span {
  padding-right: 16px;
}

.flow__card .card__description {
  padding-top: 24px;
  @include mq(md) {
    padding-top: 16px;
  }
}
