@use "../layout/breakpoint" as *;

/*!
intro > concerns

------------------------------
*/

// Intro-Concerns

.concerns {
  display: flex;
  margin-top: 42px;
  @include mq(md) {
    flex-direction: column;
    margin-right: auto;
    margin-top: 32px;
  }
}

.concerns__image {
  flex: 1;
  min-width: 300px;
  max-width: 480px;
  @include mq(md) {
    min-width: 100%;
    padding-right: 5.555555555555555vw;
    padding-left: 5.555555555555555vw;
  }
}

.margin--top{
  margin-top: 8px;
}

.concerns__image img {
  width: 100%;
  max-width: 480px;
  height: auto;
  @include mq(md) {
    max-width: 320px;
    object-fit: cover;
    object-position: center;
  }
}
.concerns__lists {
  flex: 1;
  display: flex;
  flex-direction: column;
  @include mq(md) {
    gap: 0px;
    margin-top: 0;
    padding-left: 5.555555555555555vw;
    padding-right: 3.3333333333333335vw;
    margin-left: 1px;
  }
}
.concerns__item {
  width: fit-content;
  color: var(--main-color);
  font-size: clamp(16px, 1.6666666666666667vw, 24px);

  line-height: 1.4589;
  margin-bottom: -1px;
  @include mq(sm) {
    font-size: clamp(14px, 1.6666666666666667vw, 20px);
  }
}

.concerns__item:last-child {
  margin-bottom: 0;
}

.concerns__item span {
  display: inline-block;
}

.char-container {
  display: inline-block;
  position: relative;
}

.concerns__item span .char-container:first-of-type .char {
  padding-left: clamp(4px, 0.8333333333333334vw, 12px);
}
.concerns__item span .char-container:last-of-type .char {
  padding-right: clamp(4px, 0.8333333333333334vw, 12px);
}

.char {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.05s;
  position: relative;
  z-index: 1;
  background-color: #181818;
  padding-top: clamp(2px, 0.2777777777777778vw, 4px);
  padding-bottom: clamp(2px, 0.2777777777777778vw, 4px);
  padding-left: 1px;
  margin-left: -1px;
  z-index: 10;
}

.char-bg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -1px;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.05s;
  @include mq(md) {
    left: 0;
  }
}
