@use "breakpoint" as *;

/*!
layout > base

------------------------------
*/

// all
body {
  font-family: "Zen Old Mincho", serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--sub-color);
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}
main {
  position: relative;
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.pc-none {
  @include mq(md, min) {
    display: none;
  }
  @include mq(md) {
    display: block;
  }
}
.mb-none {
  @include mq(md) {
    display: none;
  }
}

.xs-none {
  @include mq(xs, min) {
    display: none;
  }
}

.br-span {
  display: inline-block;
  @include mq(md) {
    display: inline;
  }
}

.bold {
  font-weight: bold;
}

.highlight--sub {
  display: inline;
  color: var(--main-color);
  background-color: var(--accent-color);
  width: fit-content;
  font-weight: bold;
}
.highlight--main {
  display: inline-block;
  color: var(--sub-color);
  background-color: var(--main-color);
  width: fit-content;
  padding-right: 8px;
  padding-left: 8px;
  @include mq(md) {
    padding-right: 4px;
    padding-left: 4px;
  }
  @include mq(sm) {
    padding-right: 2px;
    padding-left: 2px;
  }
}

// contents-width
:root {
  --max-width: 1480px;
  --content-width: 1440x;
  --width-content-m: 1080px;
  --width-content-l: 1200px;
}

.inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: clamp(20px, 5.556%, 80px);
  padding-right: clamp(20px, 7.084%, 102px);
  @include mq(md) {
    max-width: 864px;
    padding-left: 5.555555555555555vw;
    padding-right: 5.555555555555555vw;
  }
}

// font
:root {
  --nunito: "Nunito Sans", sans-serif;
}
.nunito {
  font-family: var(--nunito);
}

// color
:root {
  --main-color: #ffffff;
  --sub-color: #181818;
  --accent-color: #ff3c07;
  --bg-color: #fafafa;
  --title-en: #bababa;
}
// var(--accent-color)
