@use "breakpoint" as *;

/*!
layout > cta-long-long

------------------------------
*/

// Intro-cta-long

.cta-long {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  background-color: var(--accent-color);
  @include mq(md) {
    display: none;
  }
}

.cta-long__link {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  z-index: 5;
}

.cta-long__contents {
  flex-grow: 1;
  position: relative;
  padding-top: 96px;
  padding-bottom: 144px;
  padding-right: clamp(74px, 10.555555555555555vw, 152px);
  padding-left: clamp(74px, 10.555555555555555vw, 152px);
}

.cta-long__contents::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0;
  height: 387px;
  width: 2px;
  background: linear-gradient(to bottom, white 50%, transparent 50%);
  background-size: 2px 8px;
  overflow: hidden;
}

.cta-long__remaining {
  display: flex;
  font-size: 13px;
  position: relative;
  line-height: 1.45;
  gap: 16px;
}
.cta-long__remaining::before {
  content: "";
  position: absolute;
  top: clamp(10px, 1.25vw, 18px);
  left: -14px;
  width: clamp(4px, 0.5555555555555556vw, 8px);
  height: clamp(4px, 0.5555555555555556vw, 8px);
  background-color: var(--main-color);
}

.cta-long__remaining p {
  font-size: clamp(13px, 1.6666666666666667vw, 24px);
}

.cta-long__remaining span {
  font-size: clamp(20px, 2.7777777777777777vw, 40px);
}
.cta-long__text {
  font-size: clamp(20px, 3.888888888888889vw, 56px);
  line-height: 1.45;
  margin-top: 8px;
  max-width: 894px;
  text-wrap: nowrap;
}

.cta-long__image-wrap {
  display: flex;
}
.cta-long__image {
  width: 100%;
  max-width: 48px;
  margin-right: -10px;
  background-size: cover;
  background-position: center;
}

.cta-long__arrow {
  background-image: url(../../img/cta-long-arrow@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: clamp(20px, 5.555555555555555vw, 80px);
  height: clamp(17px, 4.444444444444445vw, 64px);
  margin-right: clamp(16px, 5.555555555555555vw, 80px);
  margin-left: clamp(16px, 5.555555555555555vw, 80px);
}

.cta-long + .cta {
  @include mq(md, min) {
    display: none;
  }
  @include mq(md) {
    display: flex;
  }
}
