@use "../layout/breakpoint" as *;

/*!
comparison > comparison

------------------------------
*/

.comparison {
  margin-top: 120px;
  background-color: var(--bg-color);
  @include mq(md) {
    margin-top: 64px;
  }
}

.comparison__inner {
  padding-top: 144px;
  padding-bottom: 116px;
  @include mq(md) {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-right: 0;
  }
}

.comparison__contents {
  margin-top: 49px;
  display: flex;
  gap:20px;
  @include mq(xm) {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 32px;
  }
}
